@import "./variables.scss";
@import "./responsive.scss";
@import "./mixins.scss";
@import "./animations.scss";

$hoverColor: #385a64;

.btn-primary {
  background-color: $main-color;
  border: none;
  &:hover {
    background-color: $hoverColor;
  }
}

#navigation {
  @include show-animation(tech-up, 1s);
  #logo-navbar {
    height: 4rem;
    padding-left: 3rem;
  }
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  .collapse {
    justify-content: center;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  .navbar-nav {
    padding-right: 3rem;
    text-align: center;
    a {
      font-family: $caption-font;
      text-decoration: none;
      color: black;
      padding: 1rem;
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
        color: $main-color;
      }
    }
  }
}

#home {
  @include show-animation(tech-up, 2s);
  display: flex;
  justify-content: center;
  .introduction {
    img {
      height: 80vh;
    }
    text-align: center;
    h1 {
      font-family: $caption-font;
    }
  }
}

#about {

  margin-top: 2rem;
  text-align: center;
  font-family: $caption-font;
  height: 55vh;

  .color-width {
    background-color: $main-color;
    width: 80vw;
    height: 10vh;
    margin: 0 auto;
  }
  .container {
    margin-top: 2rem;
    width: 50vw;
    display: flex;
    justify-content: center;
    .card-title {
      font-weight: bold;
    }

    .color {
      background-color: $main-color;
      width: 0.15vw;
      justify-content: start;
      margin-bottom: 4rem;
    }
  }
}
//Tec
#technologies {
 
  margin-top: 1rem;
  font-family: $caption-font;
  .card-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .color-tech {
    background-color: $main-color;
    width: 1px;
    justify-content: start;
    margin-bottom: 4rem;
  }

  .col {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    .picture {
      width: 8rem;
      height: 8rem;
      margin-bottom: 6rem;
      cursor: pointer;
      &:hover {
        @include spinning;
      }
    }
  }
}
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  
  .card {
    &:hover {
      cursor: pointer;
      
    }
  }
  #projectDetails{
    visibility: visible;
  }
  .Features{
    list-style: none;
  }
  .gallImg{
    height: 25vh;
  }
  .textUnderIcons{
    text-decoration: none;
    &:hover{
      cursor: pointer;
      color: $hoverColor;
    }
  }
  .row {
    display: flex;
    justify-content: center;
  }

  .card-title {
    font-family: $caption-font;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  #git{
    text-align: center;
    margin: 1rem;
    img {
      margin-top: 2rem;
      height: 2rem;
    }
  }

}

#contact {
 
  margin: 4rem;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title-container {
    text-align: center;
    .title {
      font-family: $caption-font;
      height: 2rem;

      font-weight: bold;
      margin-bottom: 2rem;
    }
  }

  .card {
    margin-top: 2rem;
  }
  .form {
    width: 55vw;
    margin: 0;
    .btn-container {
      display: flex;
      justify-content: center;
    }
  }
}

#footer {
 
  width: 100%;
  height: 12rem;
  background-color: $main-color;
  footer {
    text-align: center;
    margin-top: 2rem;

    img {
      margin-top: 2rem;
      height: 2rem;
    }
    p {
      margin-top: 2rem;
    }
    #mylogo {
      margin: 0;
    }
  }
}
.autoprefixer {
  user-select: none;
}
