@import "./variables.scss";
@import "./responsive.scss";
@import "./mixins.scss";
@import "./animations.scss";

.navigation {
  padding: 1.5rem;
  text-align: center;
  #navbarNavAltMarkup {
    display: flex;
    justify-content: center;
  }
  li {
    padding: 1rem;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
      color: $main-color;
    }
  }
}

#home {
  display: flex;
  justify-content: center;
  .introduction {
    img {
      height: 80vh;
    }

    h1 {
      font-family: $caption-font;
    }
  }
}

#about {
  margin-top: 2rem;
  text-align: center;
  font-family: $caption-font;
  height: 80vh;

  .color-width {
    background-color: $main-color;
    width: 80vw;
    height: 10vh;
    margin: 0 auto;
  }
  .container {
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    .card-title {
      font-weight: bold;
    }

    .color {
      @include left-stripe;
    }
    .card {
      margin-top: 4rem;
      width: 40vw;
      margin: 1rem;
      border: none;
    }
  }
}
//Tec
#technologies {
  font-family: $caption-font;
  .card-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .color-tech {
    background-color: $main-color;
    width: 1px;
    justify-content: start;
    margin-bottom: 4rem;
  }

  .col {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    .picture {
      width: 8rem;
      height: 8rem;
      margin-bottom: 6rem;
      cursor: pointer;
      &:hover {
        animation: tech-up 1s;
       
      }
    }
  }
}
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
}
.autoprefixer {
  user-select: none;
}
