@mixin left-stripe {
    background-color: $main-color;
    width: 0.15vw;
    justify-content: start;
    margin-bottom: 4rem;
}
@mixin show-animation ($name ,$duration) {
    animation-name: $name;
    animation-duration: $duration;
}

@mixin  spinning  {
    animation-name: spinn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}
  