@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');
$hover-color: #91ADC2;
$main-color: #FF735C;
$secondary-color:#385A64;
$third-color:#E1E1E1;
$caption-font:'Brygada 1918', serif;

$primary: $main-color;
